<button class="button"
        [disabled]="isDisabled"
        [class.icon-button]="isIconButton"
        [class.disabled]="isLoading">
  <ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngIf="!isIconButton; else iconButton">
      {{ buttonText }}
    </ng-container>
    <ng-template #iconButton>
      <img [src]="buttonText" alt="icon button">
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <div class="loader">
      <img class="loader-icon" alt="refresh icon" src="assets/icons/refresh-cw.svg">
    </div>
  </ng-template>
</button>
